@import "bootstrap";
@import "variables";

.messages-container {
  .sidebar {
    position: fixed;
    height: 100%;
    width: $sidebar-width;
    left: 0;
    border-right: 1px solid $gray-lighter;
    display: none;
  }

  .main {
    position: fixed;
    height: 100%;
    left: 0;

    .main-footer {
      height: 54px;
      padding: 10px;
    }
  }

  @media (min-width: 576px) {
    .sidebar {
      display: block;
    }

    .main {
      left: $sidebar-width;

      .main-footer {
        width: 100%;
      }
    }
  }
}
