@import "bootstrap";
@import "font-awesome";

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0;
}
